.banner {

	&__container {
		z-index: 0;
	    position: relative;
	    padding: 5px;
	    background: #ECEFF0;
	    margin: 40px auto 10px;
	    padding: 20px 0px;
	    border-radius: 20px 20px 0px 0px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	    width: 100%;
	    height: 100%;
	}

	&__header {
		height: 100%;
	    background: #999999;
	    margin-bottom: 0;
	    padding: 15px;
	    border-top: 40px solid #808C8D;
	    border-radius: 20px 20px 0px 0px;
	    color: #a83b3b;
	    text-transform: uppercase;
	    margin-top: -1.2rem;

	    span {
	    	width: 10px;
		    height: 10px;
		    -webkit-border-radius: 50%;
		    border-radius: 50%;
		    -o-background-clip: padding-box;
		    background-clip: padding-box;
		    margin-left: 10px;
		    background-color: #d6d9da;
		    display: inline-block;
		    top: -3.2rem;
    		position: relative;

    		&:nth-child(1) {
    			background-color: #DD5144;
    		}


    		&:nth-child(2) {
    			background-color: #FFCD46;
    		}


    		&:nth-child(3) {
    			background-color: #1DA462;
    		}
	    }
	}
}