.cases {
	overflow: hidden;
	background: $gray;

	&__container {

	}

	&__title {
		margin-top: 0;
		padding-bottom: 1rem;

		@media (min-width: 768px) {
			padding-bottom: 1.5rem;
		}
	}

	&__track {
		display: flex;
	}

	&__controls {
		justify-content: center;
		padding-bottom: 3rem;

		@media (min-width: 768px) {
			flex-direction: row;
		}
	}

	&__filter {
		margin-bottom: 2rem;
		display: inline-block;

		span {
			margin-left: .5rem;
			margin-right: .5rem;

			@media (min-width: 768px) {
				margin-left: 3rem;
			}
		}

		@media (min-width: 768px) {
			&:first-child {
				span {
					margin-left: 0;
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width: 768px) {
			margin-bottom: 0rem;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__post {
		width: 100%;
		background: $white;
		border-radius: 7px;
		box-shadow: 0px 0px 18px rgba($purple, .19);
		overflow: hidden;

		&:hover {
			box-shadow: 0px 0px 28px rgba($purple, .29);
		}

		@media (max-width: 768px) {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
		
		&--home {
			padding-bottom: 2.5rem;
			padding-top: 1.5rem;

			@media (min-width: 768px) {
				width: calc(33.33% - 1rem);
				margin: .5rem;
			}

			header {
				margin-left: -1rem;
				margin-right: -1rem;				
			}
		}

		&--blog {
			padding-top: 0rem;
			padding-bottom: 0;

			@media (min-width: 400px) and (max-width: 768px) {
				width: calc(50% - 1rem);
				margin: .5rem;


				&:last-child {
					margin-bottom: .5rem;
				}
			}
		}

		&--page {
			padding-bottom: 0rem;

			header {
				margin-left: -1rem;
				margin-right: -1rem;				
			}
		}

		&--title {
			margin-top: 0;
			text-align: center;
			color: $black;
			padding-top: 1rem;
			font-family: 'Lato';
			font-size: 15px;
			padding-left: 1rem;
			padding-right: 1rem;
		}

		&--excerpt {
			padding: 1rem;
			text-align: center;

			@media (min-width: 768px) {
				padding: 1rem 0rem;
			}
		}
	}

	&__content-wrap {

	}
}

.mixitup-control-active {
	transition: all ease .3s;

	span {
		background: $gradient;
		border: none;
		color: $white;
	}
}