.cert {

	&__box {
		padding: 3rem 1.5rem;
	}

	&__item {

		img {
			max-height: 93px;

			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	&__btn {
		margin-top: 1.5rem;
		
		@media (min-width: 768px) {
			margin-top: 3rem;
		}
	}
}