.employees {
	background: $gray;

	&__item {
		margin: 1rem 0rem;
		position: relative;
		display: flex;
		flex-direction: column;

		img {
			flex-shrink: 0;
		}
	}

	&__title {
		margin-top: 0;
		padding-top: .5rem;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: flex-end;
		padding-top: 1rem;
	}

	&__phone {
		padding-top: 1rem;
	}

	&__mail {

	}

	&__phone, &__mail {
		display: block;
		font-weight: 600;
		color: $purple;	

		&:hover {
			color: $orange;
		}
	}
}