/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
  background-color: $purple;
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 100%;

  &__item {
  	color: $yellow;
  	padding: 3rem 1rem;

  	a {
  		&:hover {
  			color: $orange;
  		}
  	}

  	@media (min-width: 768px) {
  		padding: 5rem 1rem;
  	}

  	&--title {
  		color: $yellow;
  		margin-top: 0;
  		padding-bottom: 1.5rem;

  		@media (min-width: 768px) {
  			font-size: 26px;
  		}
  	}
  }
}
