.hero {
	position: relative;
	padding-top: 2.5rem;
	color: $white;

	@media (min-width: 768px) {
		padding-top: 10%;
		padding-bottom: 10%;
	}	

	&__title {
		margin-top: 0;  
		padding-bottom: 1.5rem;
		color: $white;
	}

	&__img {
		padding-top: 2rem;

		@media (max-width: 767px) {
			width: calc(100% + 2rem);
			position: relative;
			left: -1rem;
		}

		img {
			max-height: 100%;
			width: 100%;

			@media (max-width: 768px) {
				max-height: 25rem;
			}

		}

		@media (min-width: 768px) {
			width: 50%;
			position: absolute;
			height: 100%;
			bottom: 0;
			right: 0;
			padding-right: 0;
			display: flex;
    		align-items: flex-end;
    		padding-top: 0;
		}

		&--404 {
			padding-top: 2rem;

			img {
				max-height: 100%;

				@media (max-width: 768px) {
					max-height: 25rem;
				}
			}

			@media (max-width: 768px) {
				width: calc(100% + 2rem);
				position: relative;
				left: -1rem;
				text-align: center;
			}

			@media (min-width: 768px) {
				width: 50%;
				position: absolute;
				height: 100%;
				bottom: 0;
				right: 0;
				padding-right: 0;
				display: flex;
	    		align-items: flex-end;
	    		padding-top: 0;
			}
		}
	}

	&__keypoints {
		transition: all ease .3s;
		margin-bottom: 1.5rem;

		@media (min-width: 768px) {
			text-align: right;
			margin-bottom: 0;
		}

		a {
			&:hover {
				color: $yellow;
			}
		}
	}
}
