/********************HOME********************/

/*
 * This file should house all of the styles for whatever
 * file you decide to use for your home page template.
 * This could be front-page.php, home.php, or index.php.
 */

.home {
  background: $gray;

  main {

  }
}
