/********************LAYOUTS********************/


/* Flexible Columns */
.flexible-columns {
  [class^="row-"], [class*=" row-"] {
    // row-specific styles here

  }

  [class^="column-"], [class*=" column-"] {
    // column-specific styles here
    padding: 1rem;

  }
}


/* WYSIWYGs */
.wysiwygs {
  background: $gray; 

  &__title {
    padding-bottom: .5rem;

    @media (min-width: 768px) {
      padding-left: 1rem;
    }
  }

  [class^="row-"], [class*=" row-"] {
    // row-specific styles here
    h3 {
      padding-bottom: .5rem;
    }
  }

  [class^="column-"], [class*=" column-"] {
    // column-specific styles here

  }
}

.padding {

  &--top {
    padding-top: 2.5rem;
  }
  
  &--bottom {
    padding-bottom: 2.5rem;
  }

  &--both {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  @media (min-width: 768px) {

    &--top {
      padding-top: 6.5rem;
    }

    &--bottom {
      padding-bottom: 6.5rem;
    }

    &--both {
      padding-top: 6.5rem;
      padding-bottom: 6.5rem;
    }
  }
}

.margin {

  &--top {
    margin-top: 2.5rem;
  }
  
  &--bottom {
    margin-bottom: 2.5rem;
  }

  &--both {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  @media (min-width: 768px) {

    &--top {
      margin-top: 6.5rem;
    }

    &--bottom {
      margin-bottom: 6.5rem;
    }

    &--both {
      margin-top: 6.5rem;
      margin-bottom: 6.5rem;
    }
  }
}

  .row-1 {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }