body.preloader-site {
    overflow: hidden;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 320px;

    &__wrapper {
        height: 100vh;
        width: 100vw;
        background: $purple;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
    }
}