/********************SINGLE********************/

/*
 * This file should house all of the styles for any
 * single template, i.e. single.php or
 * single-{rename}.php.
 */

.single {

	&__title {
		margin-top: 0; 
	}

	&__header {
		img {

		}
	}

	&__content {
		padding-top: 1.5rem;

		h1, h2, h3, h4, h5, h6 {
			padding-bottom: .5rem;

			&:first-child {
				margin-top: 0;
			}
		}

		a:not(.btn) {
			color: $purple;
		}
	}

	&__container {
		padding: 1rem;
		position: relative;

		@media (min-width: 768px) {
			top: -3rem;
			padding: 3rem;
		}
	}

	&__results {
		padding-bottom: 3rem;

		&--img {
			height: 120px;
			margin-bottom: 1rem;
			// position: absolute;
			// z-index: 0;
			// left: 50%;
			// transform: translateX(-50%);
		}

		&--text {
			// position: relative;
			// z-index: 1;
			font-weight: 700;
			// padding-top: 3rem;
		}
	}
}

