/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	@media (max-width: 768px) {
		padding-bottom: 4.5rem!important;
	}

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;
		display: flex;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			-webkit-transform: translate3d(0, 0, 0);
			display: flex;

			@media (min-width: 768px) {
				padding-left: 5rem;
				overflow: visible;
			}
		}
	}

	.owl-item {
		display: inline-block;
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
		display: flex;
		flex-shrink: 0;
	}

	// Navigation
	.owl-nav.disabled,
	.owl-dots.disabled {
		display: none;
	}

	.owl-nav .owl-prev,
	.owl-nav .owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.owl-nav {
		z-index: 1000;
		width: 100%;
		position: absolute;

		@media (max-width: 767px) {
			bottom: 3rem;
		}

		@media (min-width: 767px) {
			top: 55%;
			transform: translateY(-50%);
		}
	}

	.owl-prev,
	.owl-next {
		position: absolute;
		padding: .1rem .5rem!important;  
		background: $gradient;
		color: $white;
		left: 0;
		border-radius: 50%;
		box-shadow: 0px 0px 35px rgba(65,16,87,0.45);
		display: inline-block;	
	}


	.owl-next {

		@media (max-width: 767px) {
			right: 2rem;
			left: auto;
		}

		@media (min-width: 767px) {
			&.disabled {
				display: none;
			}
		}
	}

	.owl-prev {
		@media (min-width: 768px) {
			&.disabled {
				display: none;
			}
		}
	} 

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}
