.split {
	position: relative;
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;

	@media (max-width: 768px) {
		padding-bottom: 0!important;
	}

	@media (min-width: 768px) {
		padding-bottom: 3.5rem;
		padding-top: 3.5rem;
	}

	@media (min-width: 1024px) {
		padding-bottom: 6.5rem;
		padding-top: 6.5rem;
	}

	&__container {

	}

	&__row {
		@media (max-width: 768px) {
			flex-direction: column-reverse;
		}
	}

	&__image {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 100%;
    	text-align: center;

    	@media (min-width: 768px) {
			width: 50%;
			position: absolute;
			bottom: 0;
			height: 100%;
			display: flex;
			align-items: center;
		}

		@media (min-width: 1024px) {
			align-items: flex-end;
		}

		img { 
			width: auto; 
			margin-right: auto;
			margin-left: auto;

			@media (max-width: 768px) {
				max-height: 15rem;
			}

			@media (min-width: 768px) {
				max-height: 80%;
				width: 100%;
				max-width: 80%;
			}
		}

		img[src="//localhost:3000/lionlab_redesign/wp-content/uploads/2018/06/seo_first.png"] {
		   @media (min-width: 1024px) {
		   		width: 80%;
		   }
		}

		&.left {
			left: 0;
		}

		&.right {
			right: 0;
		}
	}

	&__text {
		@media (max-width: 768px) {
			padding-bottom: 1.5rem;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		margin-top: 0;
		padding-bottom: 1.5rem;
	}
}

.purple--bg {
	.split__text {
		color: $yellow;
	}
}