/* Color classes (modify as needed) */

$colors: "yellow" $yellow, "orange" $orange, "purple" $purple, "white" $white, "gray" $gray, "black" $black, "gradient" $gradient, "gradient-tb" $gradient-tb;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background: $value;
  }
}


.purple--bg, .orange--bg {
	color: $white;
}

.purple--bg {
	h2 {
		color: $yellow;
	}
}


.orange--bg {
	h2 {
		color: $white;
	}
}

.yellow--bg {
	color: $purple;
}