.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

.row {
  @extend .clearfix;
	
	@media (min-width: 768px) {
		margin-left: -15px;
			margin-right: -15px;
	}
}

.btn {
	display: inline-block;

	&--gradient {
		background: $gradient;
		border-radius: 25px;
		color: $white;
		padding: .4rem 2rem;
		font-family: 'lato';
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 1px;
		box-shadow: 0px 16px 33px rgba($orange, .19);
		position: relative;
		overflow: hidden;
		flex: 1 1 auto;
		background-size: 112% auto;
		transition: all ease .6s;

		@media (min-width: 768px) {
			padding: .7rem 2rem;
			font-size: 14px;
		}

		&:hover {
			background-position: 100%; 
			box-shadow: 0px 16px 33px rgba($orange, .35); 			
		}
	}

	&--login {

		a {
			background: $purple;
			border: 2px solid transparent;						
			padding: 2px;
			border-radius: 12px;
			position: relative;
			margin-left: 1rem;
			margin-right: 1rem;
			transition: all ease .3s;

			@media (max-width: 768px) {
				display: inline-block!important;
				padding: 0.2rem 1rem!important;
				margin-top: .5rem;
			}

			@media (min-width: 768px) {
				margin-right: 0;
			}

			@media (min-width: 900px) {
				margin-left: 3rem;
			}

			&:before {
	    		background: $gradient;
	    		content: '';
	    		position: absolute;
	    		width: calc(100% + 8px);
	    		height: calc(100% + 8px);
	    		border-radius: 12px;
	    		left: -4px;
	    		top: -4px;
	    		z-index: -1;
	    		transition: all ease 1s;
    		}

    		&:after {
	    		background: $gradient-tb;
	    		content: '';
	    		position: absolute;
	    		width: calc(100% + 8px);
	    		height: calc(100% + 8px);
	    		border-radius: 12px;
	    		left: -4px;
	    		top: -4px;
	    		z-index: -1;
	    		transition: all ease 1s;
	    		opacity: 0;
    		}

    		&:hover {
				color: $white!important;

				&:before {
					opacity: 0;
					transition: all ease 1s;
				}

				&:after {
					opacity: 1;
					transition: all ease 1s;
				}
			}
		}
	}

	&--hollow {

		span {
			background: $gray;
			border: 2px solid transparent;						
			padding: 6px 12px;
			border-radius: 10px;
			position: relative;
			z-index: 1;

			&:hover { 

			}

			&:before {
	    		background: $gradient;
	    		content: '';
	    		position: absolute;
	    		width: calc(100% + 8px);
	    		height: calc(100% + 8px);
	    		border-radius: 12px;
	    		left: -4px;
	    		top: -4px;
	    		z-index: -1;
	    		transition: all ease 1s;
			}
		}
	}

	&--back {
		@media (max-width: 768px) {
			margin-bottom: 3rem;
		}
	}
}

.bx-shadow {
	border-radius: 7px;

	&--purple {
		box-shadow: 0px 0px 18px rgba($purple, .19);
	}
}

.is-fixed {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	}

svg {
	height: 100%;
}

.delay-3s {
	-webkit-animation-delay: 3s;
  	animation-delay: 3s;
}