/********************TYPOGRAPHY********************/
// Headings

h1, h2, h3, h4, h5, h6 {
	color: $purple;
	margin-bottom: 0;
}

h1, .h1 {
	font-weight: 900;

	@media (min-width: 768px) {
		font-size: 30px;
	}

	@media (min-width: 1200px) {
		font-size: 50px;
	}
}

h2, .h2 {
	font-weight: 900;

	@media (min-width: 768px) {
		font-size: 30px;
	}

	@media (min-width: 1200px) {
		font-size: 50px;
	}
}

h3, .h3 {
	font-weight: 900;

	@media (min-width: 768px) {
		font-size: 26px;
	}
}

h4, .h4 {
	font-size: 18px;
}

h5, .h5 {

}

h6, .h6 {
	
}


// Miscellaneous typographic tags
em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;

	//mixitup fix
	&:not(.mix) {
		transition: all .3s ease;
	}
}